@import "./variables.scss";
@import "./breakpoints.scss";

.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //background: url("../../public/assets/register.jpg") center;
  background: url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center;
  background-size: cover;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 40%;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;

    @include lg {
      width: 60%;
    }

    @include mm {
      width: 80%;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      input {
        width: 100%;
        font-size: larger;
        font-weight: 500;
        padding: 7px 15px;
        background-color: transparent;

        border: round($number: 3) white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        outline: invert;
        text-align: center;
        color: #e5e4e2;

        &:focus::placeholder {
          color: transparent;
          border-radius: 30px;
        }

        input:not(:placeholder-shown):focus {
          background-color: #e5e4e2; /* or background: none; */
        }

        &::placeholder {
          color: #e5e4e2;
        }
      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
        cursor: pointer;
        color: white;
        font-size: 14px;

        img {
          width: 25px;
        }
      }

      button {
        margin-top: 15px;

        @include buttonStyle;
        width: 50%;

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255);
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      margin-top: 10px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
